/* Unvisited hyperlink */
a:link {
  color: blue;
  background-color: transparent;
}

/* Visited hyperlink */
a:visited {
  color: purple;
  background-color: transparent;
}

/* Hover effect */
a:hover {
  background-color: #e6f2ff;
  text-decoration: none;
}

/* Active link */
a:active {
  color: navy;
}
